---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$footer-height: 160px;

html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 50px;
	/* Margin bottom by footer height */
  	margin-bottom: $footer-height !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: #f5f5f5;
  border-top: 2px solid #ccc;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
    "bootstrap",
    "bootswatch",
    "syntax-highlighting"
;
