---
layout: default
---

<div class="home">

  <h1 class="page-heading"><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class='rss-link'><i class='fa fa-rss-square'></i></a>&nbsp;Lastest posts</h1>
  <hr class="divider" />

  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <ol class="breadcrumb">
      <li>Posted on <time>{{ post.date | date: "%d %B %Y" }}</time></li>
      {% if post.tags %}<li>Tags: <i>{{ post.tags | join: ', '}}</i></li>{% endif %}
    </ol>
    <div class="post-content">
      {{ post.excerpt }}
    </div>
    <a href="{{ post.url }}" class='btn btn-sm btn-info'>READ ALL THE POST&nbsp;<i class='fa fa-chevron-right'></i></a>
  </div>
  <hr class="divider" />
  {% endfor %}
   
  {% include pagination.html %}
</div>
