<div class="sharer">
  <h2 class='title'>Sharing is <span class="sexy">sexy</span>!</h2>
  <div class='social-icons'>
    <a class="icon-twitter" href="http://twitter.com/share?text={{page.title | cgi_escape}}&amp;url={{site.url}}{{page.id}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=255');return false;">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="icon-facebook" href="//www.facebook.com/sharer.php?t={{page.title | cgi_escape}}&amp;u={{site.url}}{{page.id}}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=255');return false;">
      <i class="fa fa-facebook-official"></i>
    </a>
    <a class="icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url}}{{page.id}}&amp;title={{page.title | cgi_escape}}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=255');return false;">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a class="icon-googleplus" href="https://plus.google.com/share?url={{site.url}}{{page.id}}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=255');return false;">
      <i class="fa fa-google-plus-square"></i>
    </a>
  </div>
</div>