---
layout: default
---
<div class="post">
  <h1 class="title">{{ page.title }}</h1>
  {% if page.date %}
  <ol class="breadcrumb">
    <li>Posted on <time>{{ page.date | date: "%d %B %Y" }}</time></li>
  </ol>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
  <hr class="divider" />
  <div class="row">
    {% if page.author %}
      <div class="col-md-6">
        {% include author.html %}
      </div>
      <div class="col-md-6">
        {% include sharer.html %}
      </div>
    {% else %}
      <div class="col-md-12">
        {% include sharer.html %}
      </div>
    {% endif %}
  </div>
  <hr class="divider" />
  {% if page.comments %}
    {% include comments.html %}
  {% endif %}
</div>
