---
layout: default
---
<div class="post">
  <h1 class="title"><a href="{{ post.url }}">{{ page.title }}</a></h1>
  <ol class="breadcrumb">
    <li>Posted on <time>{{ page.date | date: "%d %B %Y" }}</time></li>
    {% if page.categories %}<li>Categories: <i>{{ page.categories | join: ', '}}</i></li>{% endif %}
  </ol>
  <div class="content">
    {{ content }}
  </div>
  {% if page.comments %}
  <hr class="divider" />
  <div class="comments">
    <h2>Leave a comment</h2>
    <div id="disqus_thread" class="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'coding-code';

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
  {% endif %}
</div>
